*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: $color-gray-dark;
  color: $color-orange-bright;
  overflow: hidden;
}

a {
  text-decoration: none;
  color: #fff;
}

ul {
  list-style: none;
}
