$color-white: #fff;
$color-black: #000;
$color-orange-bright: #ef9547;
$color-orange-dark: #b55400;
$color-gray-bright: #393e46;
$color-gray-dark: #222831;

$box-shadow: 0.3rem 0.5rem 1rem rgba(0, 0, 0, 0.6);
